# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Foliage+ configuration
# Config path: /config/foliage-plus/foliage-plus.cfg
# Values persist between restarts.
##########################################################################################################

general {
    # If true, all entities can pass through leaves. If false, only players can. [default: false]
    B:affectAllEntities=false

    # If false, players cannot be fully covered by leaves (both feet and head blocks are leaves). [default: true]
    B:allowFullCover=true

    # Master toggle for Foliage+. If false, leaves behave normally. [default: true]
    B:enabled=true

    # Movement multiplier when inside leaves. 1.00 = normal speed. [range: 0.01 ~ 1.0, default: 0.5]
    S:speedMultiplier=0.5
}


